 /* Add-Card-Section  */
 .product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px 30px 0 0;
        border: 3px solid transparent;
        margin-bottom: 20px;
     }
     .product-item:hover{
      border-color: #90bd2d;
     } 
     .product-item:hover .cart-btn{
      display: block;
      /* opacity: 0.7; */
     }
     .product-image{
      margin-bottom: 30px;
     
      }
      .product-image img{
        background: #f1f8f8;
        height: 252px;
       padding: 30px;
        border-radius: 30px 30px 0 0;
        }
    .cart-btn{
     display: none;
      margin-top: -43px;
     }
    
    
        .cart-btn a{
          text-decoration: none;
        background: #93c12e;
        width: 100%;
        display: block;
        color: #fff !important;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding: 6px 10px;
        position: relative;
        font-family: 'Assistant', sans-serif;
    
        }
    
       .product-detail h3{
        font-size: 24px;
        line-height: 24px;
        color: #000;
        font-family: 'Asap Condensed', sans-serif;
        margin-bottom: 3px;
       }   
       
       .product-price{
        font-size: 16px;
        font-weight: 600;
        color: #174f2c;
        font-family: 'Asap Condensed', sans-serif;  
       }

       @media only screen and (max-width:1199px){
        .product-image img{
          width: 83%;
          height: 90%;
        }
       }
       @media only screen and (max-width:575px){
        .product-item{
          width: 300px;
         }
         .addcard-row{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
         }
        }
        
    